body {
    font-family: fantasy, sans-serif;
    background-color: #e183a4;
    margin: 0;
    padding: 0;
    height: 100%
  }
  
  .homeTitle {
    background-color: #e75480;
    padding: 30px;
    font-size: 25px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
  }

  .container {
    background-image: url('./turtwig.gif');
    background-repeat: repeat; /* Adjust the size of the background image */
    width: 100%; /* Adjust the width of the container */
    height: 300px; /* Adjust the height of the container */

  }
  

  .container1{
    background-image: url('./img1.jpeg');
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-size: cover; /* Cover the entire container with the image */
    background-position: center; /* Center the image within the container */
    width: 20%; /* Adjust the width of the container */
    height: 300px; /* Adjust the height of the container */

  }
  .container2{
    background-image: url('./img2.jpeg');
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-size: cover; /* Cover the entire container with the image */
    background-position: center; /* Center the image within the container */
    width: 30%; /* Adjust the width of the container */
    height: 300px; /* Adjust the height of the container */


  }
  .container3{
    background-image: url('./img3.jpeg');
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-size: cover; /* Cover the entire container with the image */
    background-position: center; /* Center the image within the container */
    width: 20%; /* Adjust the width of the container */
    height: 300px; /* Adjust the height of the container */
  }
  .card {
    background-color: #ffffffbf;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    font-family:  'Lucida Handwriting', sans-serif;
    font-size: 20px;
    flex:1;
    text-align: center;
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  